/* CSS */

:root {
  --file-nayra-font: "Segoe UI", Segoe UI Light, Segoe UI Bold;
  --file-nayra-hr: solid 0.75px #000;
}

/* Body CSS */

body {
margin: 0px;
font-family: var(--file-nayra-font);
overflow: hidden;
background: center / cover no-repeat url(../img/bg.png);
}

@font-face {
    font-family: "Segoe UI";
    src: url(../fonts/segoeui.ttf) format("truetype");
}

@font-face {
    font-family: "Segoe UI Light";
    src: url(../fonts/segoeuil.ttf) format("truetype");
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url(../fonts/segoeuib.ttf) format("truetype");
}

b {
font-family: "Segoe UI Bold"!important;
font-weight: normal;
}

div.menu {
    width: 90%;
    height: 90%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    margin-top: 2.5px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
font-weight: 400;
color: black;
}

pre {
font-weight: normal;
color: black;
font-family: var(--file-nayra-font);
margin: 1em 0px;
}

hr {
border: hidden;
background: hidden;
display: block;
border-top: var(--file-nayra-hr);
}

.fa-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Pro";
}

.fa-icon-thin {
font-weight: 300;
}
.fa-icon-normal {
font-weight: 450;
}
.fa-icon-thick {
font-weight: 500;
}
.fa-icon-solid {
font-weight: 600;
}

titl {
    margin: 0px;
    padding-bottom: 55px;
    width: 100%;
    display: flex;
    height: 42;
    justify-content: left;
}

titl>h1 {
    margin: 0;
    font-family: Segoe UI Light;
    font-size: 62px;
    color: transparent;
}

titl>small {
    font-size: 16px;
}

dot:before {
    content: '•';
    margin-left: 7.5px;
    margin-right: 7.5px;
}

h0 {
    font-size: 44px;
    display: block;
    font-family: Segoe Ui Light;
}

h0>small {
    font-size: 18px;
    display: block;
    margin-top: 10px;
    font-family: Segoe UI;
}

/* 2025 Version */

@keyframes SocialBorderMove {
  from   {border-left: solid 2px green;}
  to {border-left: solid 4px green;}
}

titl>h1::before {
  content: url(../img/logo-small.png);
}

titl-2 {
  width: 100%;
  height: 83%;
  min-width: 100%;
  display: block;
}

titl-2>shorturls {
  justify-content: left;
  display: inline-flex;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

titl-2>shorturls>ul>li {
  list-style-type: none;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

titl-2>shorturls>ul {
  margin: 0px;
  padding: 0px;
}

titl-2 > shorturls > ul > li > a {
  border-left: solid 2px green;
  display: inline-flex;
  padding: 20px 0px 20px 10px;
  text-decoration: auto;
  cursor: pointer;
}

titl-2 > shorturls > ul > li > a:hover {
  animation: SocialBorderMove 0.1s;
  animation-timing-function: linear;
  border-left: solid 4px green;
}

titl-2 > shorturls > ul > li > a > i {
  transform: translate(0%, 20%);
  height: 100%;
  min-height: 100%;
  color: white;
  font-size: 49;
  margin-right: 10px;
}

titl-2 > shorturls > ul > li > a > i.fa-youtube {
  color: red;
}
titl-2 > shorturls > ul > li > a > i.fa-bluesky {
  color: rgb(0, 100, 255);
}

titl-2 > shorturls > ul > li > a > a-text {
  font-family: "Segoe UI Light";
  display: block;
  margin-top: -1.5px;
}
sep {
  margin: 5px 0px 5px 0px;
  padding: 0.001%;
  display: block;
}
titl-2 > shorturls > ul > li > a > a-text > h1,
titl-2 > shorturls > ul > li > a > a-text > p {
  margin: 0px 0px 0px 0px;
  color: white;
}

  @keyframes informationSlide {
  from {top: -175;}
  to {top: 50;}
}

div.menu.information {
  width: 75%;
  height: auto;
  top: 50;
  background-color: orange;
  border-radius: 20px;
  animation-name: informationSlide;
  animation-duration: 2s;
  cursor: default;
  pointer-events: none;
}

div.menu.information > h1 {
  font-size: 48px;
  font-weight: normal;
  font-family: Segoe UI Light;
  margin: 10px 0px 5px 0px;
}
div.menu.information > p {
  margin: 15px 0px 15px 0px;
  font-weight: normal;
  font-family: Segoe UI Bold;
}
