/**
 * @name Discord BG Applyer
 * @author Nayra*
 * @version 1.5
 * @description A fully customised Discord CSS theme for Vencord, that allows you to freely customise Discord to have any background you desire.
 * @source https://github.com/cutienayra
 * @youtube https://youtube.com/@cutienayra
 */

/* CUSTOM BACKGROUND CSS -- MADE BY: NAYRA* */

body:before, body:has(#app-mount)::before {
background: var(--bg-position)/var(--bg-size) var(--bg-repeat) var(--bg-image);
filter: brightness(var(--bg-brightness)) blur(var(--bg-blur))!important;
width: 100%;
height: 100%;
z-index: -1;
position: fixed;
padding: 0;
margin: 0;
content: '1';
font-size: 0px;
color: transparent;
}

main.chatContent_f75fb0, /* Channel Chat BG */
.chat_f75fb0, /* Chat BG - MAIN */
.appMount__51fd7, /* Main Discord BG -- A */
.bg__960e4, /* Main Discord BG -- B */
.app__160d8, /* Main Discord BG -- C */
.members_c8ffbb, /* Server User List // Right-side bar */
.container__0f2e8, /* Activity BTNs */
.member_c8ffbb, /* Server // User list BG */
.popout_af3b89, /* Server Last Played */
/* FRIENDS LIST ELEMENTS */
.container__133bf, /* Main Friend List BG */
.privateChannels__35e86, /* Friend List A */
.scroller__99e7c, /* Friend List B */
.searchBar__35e86, /* Friend List - Searchbar */
.container__7d20c, /* Active Now Section - Friend List */
.container__9293f, /* Top Bar - Friend List */
/* SETTINGS MENU */
.sidebarRegionScroller__23e6b, /* Sidebar - Settings Menu */
.contentRegion__23e6b, /* Settings Menu */
.contentRegionScroller__23e6b, /* Settings Menu */
/* Other stuff */
.wrapper_ef3116, /* Server List */
.themedBackground__74017 /* Message Text BG - ALT */ {
background: transparent !important;
border: hidden !important;
}

.container__2637a, /* Server Channel List BG */
.panels_c48ade, /* User Bar - MAIN */
.container_c8ffbb, /* Server / DM BG */
.title_f75fb0, /* Server / DM Top Bar BG */
.embedFull__623de, /* Embed BG */
.popoutContentWrapper_af3b89, /* Activity BG - A */
.interactionsContainer_af3b89, /* Activity BG - B */
.tabBody__133bf, /* Add Friend BG */
.addFriendInputWrapper__72ba7, /* Add Friend Input Button */
.container_a14595, /* Discover Discoverable Servers BTN BG */
.nowPlayingColumn__133bf, /* Now Playing Column */
.emptyCard__7e549, /* Empty Card - Now Playing Column */
.channelTextArea_f75fb0, /* Message Text BG - MAIN */
.panel__5dec7 /* Now Playing - FOR MAIN USER ONLY */ {
  background: transparent;
  background-color: rgb(0 0 0 / var(--transparency)) !important;
  border: hidden !important;
}

.formWithLoadedChatInput_f75fb0:before,
.chatGradient__36d07,
.theme-dark .children__9293f:after {
  background: transparent !important;
}

.popoutContentWrapper_af3b89,
.interactionsContainer_af3b89,
.container_a2f514 /* Discord Loading BG */ {
  background: rgb(0 0 0 / 50%) !important;
  border: hidden !important;
}

.platform-win .standardSidebarView__23e6b {
  top: 0 !important;
  background: var(--background-base-lowest);
}

.scroller__99e7c {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.wrapper_d852db, /* Chat message loader */
.sidebar_c48ade:after /* Useless Line on the bottom of the server channel/friends list */ {
	display: none !important;
}

.circleIconButton__5bc7e, /* Non-server and DM Buttons */
.childWrapperNoHoverBg__6e9f8, /* Discord Main Button */
.folderGroupBackground__48112 /* Folder BG */ {
background: rgb(255 255 255 / 0.25) !important;
}
