/* NOTE: A wide majority of the elements within this CSS are using the 'mainpage > div#archives-page' path */

/* ---- Main Body CSS ---- */

mainpage > div#archives-page > h1 {
    margin: -10px -10px -10px -10px;
    padding: 10px;
    font-size: 48px;
    font-weight: normal;
    font-family: 'Segoe UI Light';
    color: white;
    background: rgb(103 157 255);
    position: fixed;
    width: 76.5%;
    box-shadow: 0px 7.5px 12.5px 0px rgb(103 157 255 / 50%);
    z-index: 1;
    pointer-events: all;
}

mainpage > div#archives-page > h1 > i {
    margin-right: 10px;
}

/* -- */

mainpage > div#archives-page > direc,
mainpage > div#archives-page > direc > loadingtext {
    display: block;
}

mainpage > div#archives-page > direc > loadingtext.err {
    margin-top: 20px;
	font-size: 16px;
}

mainpage > div#archives-page > direc > loadingtext.err:before {
    font-size: 32px;
    content: 'Error!';
    font-family: 'Segoe UI Bold';
    margin: 0px 0px 10px 0px;
	display: block;
}

@keyframes loadingtext {
  /* Needs this just in case = animation: loadingtext 1.5s 0s ease infinite; */
  0% {content: 'loading.';}
  25% {content: 'loading.';}
  50% {content: 'loading..';}
  97.5% {content: 'loading...';}
  100% {content: 'loading...';}
}

/* -- The actual fun bit, the actual file directory -- */

mainpage > div#archives-page > archivebox {
    margin-top: 87.5px;
    display: block;
}

mainpage > div#archives-page > archivebox > gridbx {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* - */

mainpage > div#archives-page > archivebox > gridbx > a[type="item"] {
    width: 31.8%;
    background: transparent;
    margin: 5px 10px 5px 5px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: black;
    user-select: all;
    pointer-events: all;
    cursor: pointer;
    transition: all 0.15s ease;
	height: auto;
}

mainpage > div#archives-page > archivebox > gridbx > a[type="item"]:hover {
    background: rgb(0 0 0 / 7.5%);
}
mainpage > div#archives-page > archivebox > gridbx > a[type="item"]:active {
    background: rgb(0 0 0 / 15%);
}

/* - */

mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > imgbox {
    width: 100%;
    border-radius: 7.5px;
}

mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > imgbox > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: 7.5px;
}

/* - */

mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > additionaltext,
mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > channelnametext {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2.5px;
    align-items: center;
    :;
    width: 100%;
}

mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > additionaltext > p,
mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > channelnametext > p {
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > h1 {
    font-family: 'Segoe UI';
    font-weight: normal;
    margin: 0;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
}

mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > channelnametext > p {
    font-family: 'Segoe UI Bold';
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > channelnametext > ch-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background: grey;
    border-radius: 50px;
}

mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > channelnametext {
    margin-bottom: 10px;
}

/* - */
/* .. Channel Icons for Videos .. */

mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > channelnametext > ch-icon[ch="futurehousefanmades"] {
    background: center / cover no-repeat url('https://yt3.googleusercontent.com/uQugV_TUsvzmn6hMjIpZYvJ6Yaxut9DfZCwET4EdYEYTuFPjkWPTA5NSUUxUzZqd-HpRiLimhwg=s50');
}

/* --- */


dot {
    width: auto;
    padding: 0;
    margin: 0px 5px;
    display: flex;
    color: black;
    text-align: center;
}

dot:before {
    content: ".";
    margin-top: -4;
    font-family: 'Segoe UI Bold';
}

/* ----- VIDEO PLAYER (REALLY IMPORTANT) ----- */

player {
    display: flex !important;
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    backdrop-filter: brightness(0.25);
    opacity: 100;
    visibility: visible;
    z-index: 5;
    transition: opacity, visibility 0.25s linear;
    justify-content: center;
}
player.hide {
	opacity: 0;
	visibility: hidden;
}

player > video,
player > img {
    height: 100%;
    pointer-events: all;
    user-select: all;
    position: fixed;
    z-index: 6;
}

player > button[type="exit-player"] {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    left: 0;
    padding: 0;
    font-size: 18px;
    background: transparent;
    border: hidden;
    color: white;
    cursor: auto;
    pointer-events: all;
    user-select: all;
    justify-content: flex-end;
    z-index: 5;
}

/* FOR MOBILE LAYOUT */

@media screen and (max-width: 1080px) {
	player > video,
	player > img {
		width: 100%;
		height: auto !important;
		position: relative;
		display: flex;
		align-self: center;
	}
	
	mainpage > div#archives-page > direc > filetable > ft:nth-child(1),
	mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > channelnametext > ch-icon {
		display: none;
	}
	
    mainpage > div#archives-page > h1 {
        width: 100%;
        margin: 0;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
	
    mainpage > div#archives-page > archivebox > gridbx {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
	
    mainpage > div#archives-page > archivebox > gridbx > a[type="item"] {
        margin: 5px 0px 5px 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        border-radius: 0px;
    }
	mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > channelnametext,
	mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > h1,
	mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > channelnametext > p,
	mainpage > div#archives-page {
		margin: 0;
		padding: 0;
		font-family: 'Segoe UI';
		font-weight: normal;
	}
	
	mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > h1, mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox > channelnametext > p {
		word-wrap: break-word;
		white-space: nowrap !important;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 2.5px;
		width: 100%;
		max-width: 100%;
		display: block;
	}
	
	mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > detailsbox {
		margin-left: 10px;
		width: 180;
		max-width: 180px;
	}
	
	mainpage > div#archives-page > archivebox > gridbx > a[type="item"] > imgbox {
		width: 47.5%;
		max-width: 47.5%;
		min-width: 47.5%;
	}

	mainpage > div#archives-page,
	mainpage:has(div#archives-page) {
		border: none;
		padding: 0;
	}
}
